<!DOCTYPE html>
<html ng-app='app'>

<head>
  <meta charset="utf-8">
  <title translate="TITLE">Basic usage</title>
  <style>body { text-align: center; }</style>
</head>

<body ng-controller="ctrl">

  <!-- An example of changing language in runtime -->
  <p>
    <a href="#" ng-click="setLang('en_US')">English</a>
    |
    <a href="#" ng-click="setLang('es_ES')">Español</a>
  </p>

  <!-- Translation by a filter -->
  <h1>{{'HEADER' | translate}}</h1>

  <!-- Translation by a directive -->
  <h2 translate="SUBHEADER">Subheader</h2>

  <!-- Using inner HTML as a key for translation -->
  <p translate>HTML_KEYS</p>

  <hr>

  <!-- Passing a data object to the translation by the filter -->
  <p>{{'DATA_TO_FILTER' | translate: tlData}}</p>

  <!-- Passing a data object to the translation by the directive -->
  <p translate="DATA_TO_DIRECTIVE" translate-values="{{tlData}}"></p>

  <hr>

  <!-- Passing a raw data to the filter -->
  <p>{{'RAW_TO_FILTER' | translate:'{ type: "raw" }' }}</p>

  <!-- Passing a raw data to the filter -->
  <p translate="RAW_TO_DIRECTIVE" translate-values="{ type: 'directives' }"></p>

  <hr>
 <!-- Using a $translate service -->
  <p>{{jsTrSimple}}</p>
  <h1 translate="TITLE"></h1>


<script src="angular.min.js"></script>
<script src="angular-translate.min.js"></script>


<script>
angular.module('app', ['pascalprecht.translate'])

.config(['$translateProvider', function($translateProvider){
  $translateProvider.translations('en_US', {
    "TITLE"     : "Angular Translator",
    "HEADER"    : "This is a basic Example of how use Angular Translate.",
    "SUBHEADER" : "With Only Two Files",
    "HTML_KEYS" : "If you don't like an empty elements, you can write a key for the translation as an inner HTML of the directive.",
    "DATA_TO_FILTER"    : "Your translations might also contain any static ({{staticValue}}) or random ({{randomValue}}) values, which are taken directly from the model.",
    "DATA_TO_DIRECTIVE" : "And it's no matter if you use filter or directive  static is still {{staticValue}} and random is still {{randomValue}}.",
    "RAW_TO_FILTER"     : "In case you want to pass a {{type}} data to the filter, you have only to pass it as a filter parameter.",
    "RAW_TO_DIRECTIVE"  : "This trick also works for {{type}} with a small mods.",
    "SERVICE"        : "Of course, you can translate your strings directly in the js code by using a $translate service.",
  });

  $translateProvider.translations('es_ES', 
  	//esto este en un Json Aparte
  {
    "TITLE"     : "Traductor angular",
    "HEADER"    : "Este es un ejemplo básico de cómo usar angular Translate.",
    "SUBHEADER" : "con solo dos archivos",
    "HTML_KEYS" : "Si no te gusta un elementos vacíos , se puede escribir una clave para la traducción como un código HTML interno de la Directiva.",
    "DATA_TO_FILTER"    : "Sus traducciones también pueden contener cualquier valor estática ({{staticValue}}) o Valor Aleatorio ({{randomValue}}), que se toma directamente del modelo.",
    "DATA_TO_DIRECTIVE" : "Y es que no importa si se utiliza filtro o estática Directiva sigue aun estatico {{staticValue}} y aun aleatorio {{randomValue}}.",
    "RAW_TO_FILTER"     : "En caso de que quiera pasar Tipo {{type}} de dato al filtro, Solo Tienes que pasarlo como un parametro de filtro",
    "RAW_TO_DIRECTIVE"  : "Este Truco Sirve tambien para {{type}} Con un Modulo pequeño.",
    "SERVICE"        : "Por supuesto, Tu puedes Traducir La cadena Directamente en el Archivo Javascript Usando El servicio de Traduccion.",
  }


  );
  $translateProvider.preferredLanguage('en_US');

}])

.controller('ctrl', ['$scope', '$translate', function($scope, $translate) {
  $scope.tlData = {
    staticValue : 26,
    randomValue : Math.floor(Math.random() * 1000)
  };

  $scope.jsTrSimple = $translate.instant('SERVICE');
  $scope.jsTrParams = $translate.instant('SERVICE_PARAMS', $scope.tlData);

  $scope.setLang = function(langKey) {
    // You can change the language during runtime
    $translate.use(langKey);

    // A data generated by the script have to be regenerated
    $scope.jsTrSimple = $translate.instant('SERVICE');
    $scope.jsTrParams = $translate.instant('SERVICE_PARAMS', $scope.tlData);
  };

}]);



</script>

</body>
</html>
